<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/navbar'); %>
    <%=title %>
    <form method="post" action="/products">
        <input type="text" name="name" placeholder="nombre">
        <input type="text" name="price" placeholder="price">
        <input type="text" name="thumbnail" placeholder="thumbnail">
        <input type="submit" name="name" value="enviar">


    </form>
    
    <%- include('../partials/footer'); %> 
  </body>
</html>
