<div class="d-grid col-4 bg-danger bg-opacity-50">
        <h2 class="text-primary ms-3 mt-2 text-light">USER ERROR LOGIN</h2>
        <form id="to-login" class="d-flex flex-column ms-3 me-3" action="http://localhost:8080/api/login" method="get">
            <button type="submit" id="login-redirect" class="d-grid col-4 mb-3 btn btn-warning">Volver</button>
        </form>
</div>