<div class="d-grid col-4 bg-light">
        <h2 class="text-primary ms-3 mt-2">Login de usuario</h2>
        <form id="login" class="d-flex flex-column ms-3 me-3" action="http://localhost:8080/api/sign-in" method="post">
            <label for="email"><i><b>Usuario</b></i></label>
            <input id="email" class="mb-3" type="email" name="email" required/>
            <label for="password"><i><b>Contraseña</b></i></label>
            <input id="password" class="mb-3" type="password" name="password" required/>
            <button type="submit" id="login-boton" class="d-grid col-2 mb-3 btn btn-success">Login</button>
        </form>
        <hr>
        <form id="to-register" class="d-flex flex-column ms-3 me-3" action="http://localhost:8080/api/register" method="get">
            <button type="submit" id="register-redirect" class="d-grid col-3 mb-3 btn btn-success">Ir a Register</button>
        </form>
</div>