<div class="d-grid col-4 bg-primary bg-opacity-25">
        <h2 class="text-primary ms-3 mt-2">Hasta luego {{email}}</h2>
</div>

<script>
        setTimeout(() => {
            location.href = '/api/login'
        }, 2000)
</script>