{{> navbar}}
{{> form}}
<br/>

<h1 style="color:rgb(49, 49, 218) ;">Listado de Productos</h1>
<div >
    <table>
        <thead>              
                    <th>Producto</th>
                    <th>Precio</th>
                    <th>Imagen </th>
                </thead>
           <tbody  id="products">
            
           </tbody>
            
            </table>
</div>

<div>
    <table>
        <thead>              
                    <th>Origen</th>
                    <th>Mensaje</th>
                    <th>Fecha</th>
                </thead>
           <tbody  id="message" style="font-size:18px ;">
            
           </tbody>
            
            </table>
    
</div>
{{> chatForms}}
<br/>
{{> footer}}
<br/>