* {
  margin: 0;
  padding: 0;
}

html body {
  font-size: 16px;
  font-family: "Calibri";
}

a {
  outline: none;
  text-decoration: none;
  color: black;
}

table {
  /* no es responsive poner fixed */
  table-layout: fixed;
  text-align: center;
  word-wrap: break-word;
}

.product-img {
  width: 20%;
}

.footer {
  height: 5rem;
  font-size: 2rem;
  color: blueviolet;
}

a:hover {
  font-weight: bold;
  background: rgba(1, 1, 1, 0.5);
}
