<h1 style="color:rgb(49, 49, 218) ;">Centro de Mensajes</h1>
<form action="" id="messageForm">
    <input type="email" id="email" placeholder="Insert User">
    <input type="text" id="message" placeholder="Insert Message">
    <button type="button" onClick="addMessage(messageForm)">Add</button>
</form>