<h1 style="color:rgb(49, 49, 218) ;">Cargar Nuevo Producto</h1>
<form action="" id="productsForm">
    <input type="text" id="title" placeholder="Insert Product">
    <input type="number" id="price" placeholder="Insert Price">
    <input type="text" id="thumbnail" placeholder="Insert url thumbnail">
    <button type="button" onClick="addProduct(productsForm)">Add</button>
</form>